.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1, p {
  font-family: "Schoolbell", sans-serif;
  text-align: center;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: auto;
}

img {
  width: 80px;
  border-radius: 50%;
}

button{
  font-family: "Schoolbell", sans-serif;
  border: none;
  padding: 20px;
  border-radius: 50%;
}


#buttons {
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

#mem1-button{
  background-color: rgb(255, 75, 99);
}
#mem1-button:active {
  background-color: rgb(90, 73, 104);
}

#mem2-button{
  background-color: rgb(233, 227, 90);
}
#mem2-button:active {
  background-color: rgb(90, 73, 104);
}

#mem3-button{
  background-color: rgb(144, 235, 230);
}
#mem3-button:active {
  background-color: rgb(90, 73, 104);
}

#petri-dish{
  width: 600px;
  background-color:rgb(255, 235, 239);
  height:600px;
  padding: 10%;
  border-radius: 50%;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

#petri-dish:hover {
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%   {box-shadow: 0 0 10px 0 rgb(245, 78, 12),0 0 10px 0 rgb(245, 78, 12)}
  20%  {box-shadow: 0 0 10px 0 rgb(255, 220, 107), 0 0 10px 0 rgb(255, 220, 107)}
  40%  {box-shadow: 0 0 10px 0 rgb(170, 239, 80), 0 0 10px 0 rgb(170, 239, 80)}
  65%  {box-shadow: 0 0 10px 0 rgb(80, 167, 239), 0 0 10px 0 rgb(80, 167, 239)}
  80% {box-shadow: 0 0 10px 0 rgb(145, 69, 216), 0 0 10px 0 rgb(145, 69, 216)}
  100% {box-shadow: 0 0 10px 0 rgb(235, 36, 119), 0 0 10px 0 rgb(235, 36, 119)}
}

/* Bob  from https://ianlunn.github.io/Hover/#effects*/
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
